body{
	background-color: #eee;
}
.item{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;
}
.list-group-item{
	height: 40px;
}
#addMarker{
	padding: 10px;
	background-color: #fff; 
	border: 1px solid #E0E0E0;
}