<div class="row" ng-controller="AppListCtrl">
	<div class="col-md-6">
		<form class="form-horizontal" role="form" name="form">
			<h3>Set the coordination</h3>
			<div class="form-group">
				<label class="col-md-4 control-label">Longtitude</label>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="longtitude">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Laititude</label>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="ex.12.3456" ng-model="laititude">
				</div>
			</div>
		</form>
		<a class="btn btn-default pull-right" ui-sref="setmap.setmarker" ng-click="setCoord()">Next</a>
	</div>
	<div class="col-md-6">
		loading image
		<img src="" alt="">
	</div>
</div>